html {
    height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.page-host {
    height: ~"calc(100% - 68px)"; //TODO: Should be 64px according to materialize css.
    
    router-view {
        height: 100%;
        
        display: flex;
        flex-direction: column;
    }
}